.addButtonName {
	float: right;
}

.panel-heading {
   cursor: pointer;
}

.btn-sm {
padding-top: 5px !important;
line-height: 1;
}

body {
	font-family: 'Open Sans', sans-serif;

}



.ui-loader{
	color:white;
}

.btn-success {

}
.navbar a{
	
}

.title {
	font-family: 'Lily Script One', cursive;
	font-size: 19pt;
}

.barkeeper-title {
	font-family: 'Lily Script One', cursive;
	pointer-events: none;
   	cursor: default;
   	color: #BA1D29;
   	font-size: 72pt;
}

.btn-bartending {
	background-color: #FF6F5B;
	color: #1D2529;
}

.btn-serving {
	background-color: #2A99D4;
	color: #1D2529;
}

