.addButtonName {
	float: right;
}

.panel-heading {
   cursor: pointer;
}

.btn-sm {
padding-top: 5px !important;
line-height: 1;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
	font-family: 'Lily Script One', cursive;
	font-size: 19pt;
	;
}

.ui-loader{
	color:white;
}

.btn-success {}