.a{
	line-height:0px;
}


.row {
    border: 3px solid #000;
    float: top;
    z-index:10;
    border-radius: 5px;
}

.img{
	padding-top:10px !important;
	padding-bottom:3px;
	line-height:0px;
	width:60px;
}
.row:nth-child(n+2) {
    margin-top: -3px;
}


.activeDrink {
	background-color:#FF6F5B;
	color: #1D2529;
}
.notMineDrink {
	background-color:#82A7BA;
	color: #1D2529;
}
.done {
	background-color: #2D9647;
	color: #1D2529;
}
.mine{
	background-color:#FFAC40;
	color: #1D2529;
}
.ui-loader{
	color:white;
}
.under{
	border: 3px solid #000;
    float: top;
	position: absolute;
    z-index:0;
    width:97px;
    background-color: #2D9647;
}
.under:nth-child(n+2) {
    margin-top: -3px;
}
