.row {
    border: 3px solid #000;
    float: top;
    z-index:10;
}

.row:nth-child(n+2) {
    margin-top: -3px;
}

.activeDrink {
	background-color:#BF3330;
	color: black;
}
.notMineDrink {
	background-color:gray;
	color: black;
}
.mine{
	background-color:#FFAC40;
	color: black;
}
.ui-loader{
	color:white;
}
.under{
	position: absolute;
    z-index:0;
    width:97px;
    background-color:green;
}

