.list-group-item {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    overflow:auto;
}
.quantity {
    text-align: right;
    float: right;
}

input {
    width: 70px;
}

img {
    width: 100px;
    float: left;
}

.item {
    display: inline-block;
}